/************HEADER STYLES************/
.header {
	height:10vh;
	background-color: #003366;
	color:white;
	padding-top:1em;
	padding-bottom:1em;
	text-align:center;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-between;
}

#logo {
	order:1;
}

.header {
	order:2;
}

.header ul li {
	list-style:none;
	float:right;
	font-size:18pt;
}

.header ul li a {
	color:white;
	text-decoration:none;
	margin-left:1em;
	margin-right:1em;
}